* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

.head-bar {
  text-align: center;
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  padding: 10px;
}
.head-bar h1 {
  font-size: 1.3em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.head-bar ul {
  display: none;
}
.head-bar .menu {
  position: relative;
  background-color: red;
  width: 30px;
  height: 30px;
}
.head-bar .menu .mOne {
  width: 30px;
  height: 5px;
  background-color: black;
  border-radius: 10px;
  rotate: 90deg;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0);
}
.head-bar .menu .mTwo {
  width: 30px;
  height: 5px;
  background-color: black;
  border-radius: 10px;
}

.show-case {
  background-color: black;
  height: 93.7vh;
  position: relative;
  background-position: top;
  background-attachment: fixed;
  background-size: cover;
}
.show-case .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.show-case .content h2 {
  font-size: 2em;
  letter-spacing: 2px;
}
.show-case .content p {
  font-size: 1em;
  margin-top: 7px;
  color: white;
  width: 100%;
  font-family: "Inconsolata", monospace;
}
.show-case .content span {
  color: red;
  font-family: "Inconsolata", monospace;
}

.about {
  padding: 30px;
  height: 60vh;
  position: relative;
}
.about .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
.about h3 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.2em;
}
.about p {
  text-align: center;
  font-size: 1.1em;
}
.about .btn {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 17px;
  border-radius: 50px;
  width: 45%;
  margin: 20px auto 0 auto;
  text-align: center;
  border: solid 2px black;
}
.about .btn a {
  text-decoration: none;
  color: white;
}
.about .btn:hover {
  background-color: white;
  border: solid 2px black;
  transition: ease-in-out 0.2s;
}
.about .btn:hover a {
  color: black;
}

.buffer {
  height: 100px;
  background-color: black;
}

.work {
  padding: 75px 0 30px 0;
}
.work h3 {
  color: black;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.work .card {
  width: 85%;
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
  margin: auto;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 0 0 10px -5px black;
}
.work .card h5 {
  font-size: 20px;
  color: black;
}
.work .card .sub-header {
  margin-bottom: 40px;
  margin-top: 10px;
  font-size: 15px;
  color: black;
}
.work .card a {
  color: black;
}
.work .card .btn {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 15px;
  font-size: 17px;
  border-radius: 50px;
  width: 45%;
  margin: 20px auto 0 auto;
  text-align: center;
}
.work .card .btn a {
  color: white;
  text-decoration: none;
}

.contact {
  padding: 50px 0 50px 0;
}
.contact h4 {
  text-align: center;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.contact .only {
  text-align: center;
  font-size: 20px;
}
.contact .content {
  margin-top: 20px;
  text-align: center;
}
.contact .content p {
  font-size: 18px;
  margin-bottom: 7px;
  color: black;
}
.contact .content p a {
  color: black;
}

.foot-bar {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}
.foot-bar .icon {
  width: 20px;
  margin-left: 10px;
}/*# sourceMappingURL=style.css.map */